<!-- Footer Section -->
<footer>
  <div class="container_8">
    <div class="footer_sec1">
      <img data-src="<%= asset_path('greenPalLogo.png') %>" src="<%= asset_path('greenPalLogo.png') %>" style="margin-bottom: 18px;" class="footer_logo lazyload el-hide" alt="GreenPal Logo">

      <noscript>
        <img class="footer_logo" style="margin-bottom: 3px;" alt="GreenPal Logo" src="<%= asset_path('greenPalLogo.png') %>" />
      </noscript>
      <div class="footer-pera-list">
        <p>GreenPal is hands-down the easiest way to book a local lawn care company for yard maintenance services at an affordable price. If you're looking for same day lawn mowing or next day lawn cutting services you're at the right place.
        </p>

        <p>GreenPal is the easiest way to book a lawn mowing services near me at the touch of a button without even having to make a phone call.</p>
      </div>


      <p class="app-heading only_desktop">Get the remote control for your lawn</p>
      <ul class="iphone-btn only_desktop no-top">
        <li>
          <div class="play-store-sec">
            <%
=begin%>
 <img data-src="assests/playstore.svg" class="app_logo only_desktop lazyload el-hide" alt="Play Store Logo" src="assests/playstore.svg"> 
<%
=end%>
            <noscript>
              <%
=begin%>
 <img class="app_logo only_desktop" alt="Play Store Logo" src="assests/playstore.svg" /> 
<%
=end%>
            </noscript>
            <p>Play Store</p>
          </div>
        </li>
        <li>
          <div>
            <%
=begin%>
 <img data-src="assests/apple.svg" class="app_logo only_desktop lazyload el-hide" alt="Apple Store Logo" src="assests/apple.svg"> 
<%
=end%>
            <noscript>
              <%
=begin%>
 <img class="app_logo only_desktop" alt="Apple Store Logo" src="assests/apple.svg" /> 
<%
=end%>
            </noscript>
            <p>App Store</p>
          </div>
        </li>
      </ul>

    </div>
    <div class="footer_sec2">
      <p><span class="site-derictory">GreenPal</span></p>
      <ul class="footer_imp_links">
        <li><span>Lawn Care Blog</span></li>
        <li><span>Lawn Care Article</span></li>
        <li><span>Snow Removal Services</span></li>
        <li><span>About Us</span></li>
        <li><span>Affordable Lawn Care</span></li>
        <li><span>Lawn Care Near Me</span></li>
        <li><span>Lawn Mowing Tips</span></li>
        <li><span>Landscaping</span></li>
        <li><span>Yard Clean Up Tips</span></li>
        <li><span>Order Lawn Care</span></li>
        <li><span>GreenPal Reviews</span></li>
        <li><span>Frequently Asked Questions</span></li>
        <li><span>Press & Media Hub</span></li>
      </ul>
    </div>
    <div class="footer_sec3">
      <div class="footer_sec3_top">
        <div class="providers_section">
          <p><span class="site-derictory">Providers</span></p>
          <ul class="footer_imp_links_provider provider">
            <li><span>Apply to be a GreenPal</span></li>
            <li><span>Business Guides</span></li>
            <li><span>Vendor free Lawn</span></li>
          </ul>
        </div>
        <div class="social_section">
          <p class="site-derictory">Connect with us</p>
          <ul class="footer_social_links">
            <li class="facebook_logo">
              <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px" viewBox="0 0 36 36" version="1.1">
                  <!-- Generator: sketchtool 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                  <title>637F5F21-F049-4E94-A2D4-1455F3E681DD</title>
                  <desc>Created with sketchtool.</desc>
                  <defs />
                  <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.600000024">
                    <g id="1-Home-Page-" transform="translate(-987.000000, -5299.000000)">
                      <g id="6-Footer" transform="translate(0.000000, 5061.000000)">
                        <g id="Group-27" transform="translate(0.000000, 54.000000)">
                          <g id="1-copy-5" transform="translate(849.000000, 0.000000)">
                            <g id="Group-56" transform="translate(139.000000, 128.000000)">
                              <g id="Social-icon" transform="translate(0.000000, 57.000000)">
                                <g id="Facebook">
                                  <circle id="Oval-Copy" stroke="#FFFFFF" cx="17" cy="17" r="17" />
                                  <g id="f" transform="translate(14.000000, 10.000000)" fill="#FFFFFF">
                                    <path d="M4.10318182,5.37045455 L4.10318182,4.15727273 C4.10060783,4.01780045 4.10835625,3.87832886 4.12636364,3.74 C4.14148908,3.63321756 4.1783048,3.5306595 4.23454545,3.43863636 C4.29631393,3.34012178 4.39284459,3.26841329 4.505,3.23772727 C4.66965813,3.19967244 4.83828765,3.18151234 5.00727273,3.18363636 L6.14318182,3.18363636 L6.14318182,0.757272727 L4.32727273,0.757272727 C3.48835763,0.675510427 2.65635562,0.96982406 2.05545455,1.56090909 C1.54908831,2.23471137 1.30469343,3.06949836 1.36772727,3.91 L1.36772727,5.37045455 L4.54747351e-13,5.37045455 L4.54747351e-13,7.79681818 L1.36772727,7.79681818 L1.36772727,14.8363636 L4.10318182,14.8363636 L4.10318182,7.79681818 L5.91909091,7.79681818 L6.15863636,5.37045455 L4.10318182,5.37045455 Z" id="Forma_1" />
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg></div>
            </li>
            <li class="twitter_logo">
              <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px" viewBox="0 0 36 36" version="1.1">
                  <!-- Generator: sketchtool 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                  <title>637F5F21-F049-4E94-A2D4-1455F3E681DD</title>
                  <desc>Created with sketchtool.</desc>
                  <defs />
                  <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.600000024">
                    <g id="1-Home-Page-" transform="translate(-987.000000, -5299.000000)">
                      <g id="6-Footer" transform="translate(0.000000, 5061.000000)">
                        <g id="Group-27" transform="translate(0.000000, 54.000000)">
                          <g id="1-copy-5" transform="translate(849.000000, 0.000000)">
                            <g id="Group-56" transform="translate(139.000000, 128.000000)">
                              <g id="Social-icon" transform="translate(0.000000, 57.000000)">
                                <g id="Facebook">
                                  <circle id="Oval-Copy" stroke="#FFFFFF" cx="17" cy="17" r="17" />
                                  <g id="f" transform="translate(14.000000, 10.000000)" fill="#FFFFFF">
                                    <path d="M4.10318182,5.37045455 L4.10318182,4.15727273 C4.10060783,4.01780045 4.10835625,3.87832886 4.12636364,3.74 C4.14148908,3.63321756 4.1783048,3.5306595 4.23454545,3.43863636 C4.29631393,3.34012178 4.39284459,3.26841329 4.505,3.23772727 C4.66965813,3.19967244 4.83828765,3.18151234 5.00727273,3.18363636 L6.14318182,3.18363636 L6.14318182,0.757272727 L4.32727273,0.757272727 C3.48835763,0.675510427 2.65635562,0.96982406 2.05545455,1.56090909 C1.54908831,2.23471137 1.30469343,3.06949836 1.36772727,3.91 L1.36772727,5.37045455 L4.54747351e-13,5.37045455 L4.54747351e-13,7.79681818 L1.36772727,7.79681818 L1.36772727,14.8363636 L4.10318182,14.8363636 L4.10318182,7.79681818 L5.91909091,7.79681818 L6.15863636,5.37045455 L4.10318182,5.37045455 Z" id="Forma_1" />
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg></div>
            </li>
            <li class="pinterest_logo_combined"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px" viewBox="0 0 36 36" version="1.1">
                <!-- Generator: sketchtool 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                <title>637F5F21-F049-4E94-A2D4-1455F3E681DD</title>
                <desc>Created with sketchtool.</desc>
                <defs />
                <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.600000024">
                  <g id="1-Home-Page-" transform="translate(-987.000000, -5299.000000)">
                    <g id="6-Footer" transform="translate(0.000000, 5061.000000)">
                      <g id="Group-27" transform="translate(0.000000, 54.000000)">
                        <g id="1-copy-5" transform="translate(849.000000, 0.000000)">
                          <g id="Group-56" transform="translate(139.000000, 128.000000)">
                            <g id="Social-icon" transform="translate(0.000000, 57.000000)">
                              <g id="Facebook">
                                <circle id="Oval-Copy" stroke="#FFFFFF" cx="17" cy="17" r="17" />
                                <g id="f" transform="translate(14.000000, 10.000000)" fill="#FFFFFF">
                                  <path d="M4.10318182,5.37045455 L4.10318182,4.15727273 C4.10060783,4.01780045 4.10835625,3.87832886 4.12636364,3.74 C4.14148908,3.63321756 4.1783048,3.5306595 4.23454545,3.43863636 C4.29631393,3.34012178 4.39284459,3.26841329 4.505,3.23772727 C4.66965813,3.19967244 4.83828765,3.18151234 5.00727273,3.18363636 L6.14318182,3.18363636 L6.14318182,0.757272727 L4.32727273,0.757272727 C3.48835763,0.675510427 2.65635562,0.96982406 2.05545455,1.56090909 C1.54908831,2.23471137 1.30469343,3.06949836 1.36772727,3.91 L1.36772727,5.37045455 L4.54747351e-13,5.37045455 L4.54747351e-13,7.79681818 L1.36772727,7.79681818 L1.36772727,14.8363636 L4.10318182,14.8363636 L4.10318182,7.79681818 L5.91909091,7.79681818 L6.15863636,5.37045455 L4.10318182,5.37045455 Z" id="Forma_1" />
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg></li>
            <li class="instagram_logo">
              <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px" viewBox="0 0 36 36" version="1.1">
                  <!-- Generator: sketchtool 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
                  <title>637F5F21-F049-4E94-A2D4-1455F3E681DD</title>
                  <desc>Created with sketchtool.</desc>
                  <defs />
                  <g id="z" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.600000024">
                    <g id="1-Home-Page-" transform="translate(-987.000000, -5299.000000)">
                      <g id="6-Footer" transform="translate(0.000000, 5061.000000)">
                        <g id="Group-27" transform="translate(0.000000, 54.000000)">
                          <g id="1-copy-5" transform="translate(849.000000, 0.000000)">
                            <g id="Group-56" transform="translate(139.000000, 128.000000)">
                              <g id="Social-icon" transform="translate(0.000000, 57.000000)">
                                <g id="Facebook">
                                  <circle id="Oval-Copy" stroke="#FFFFFF" cx="17" cy="17" r="17" />
                                  <g id="f" transform="translate(14.000000, 10.000000)" fill="#FFFFFF">
                                    <path d="M4.10318182,5.37045455 L4.10318182,4.15727273 C4.10060783,4.01780045 4.10835625,3.87832886 4.12636364,3.74 C4.14148908,3.63321756 4.1783048,3.5306595 4.23454545,3.43863636 C4.29631393,3.34012178 4.39284459,3.26841329 4.505,3.23772727 C4.66965813,3.19967244 4.83828765,3.18151234 5.00727273,3.18363636 L6.14318182,3.18363636 L6.14318182,0.757272727 L4.32727273,0.757272727 C3.48835763,0.675510427 2.65635562,0.96982406 2.05545455,1.56090909 C1.54908831,2.23471137 1.30469343,3.06949836 1.36772727,3.91 L1.36772727,5.37045455 L4.54747351e-13,5.37045455 L4.54747351e-13,7.79681818 L1.36772727,7.79681818 L1.36772727,14.8363636 L4.10318182,14.8363636 L4.10318182,7.79681818 L5.91909091,7.79681818 L6.15863636,5.37045455 L4.10318182,5.37045455 Z" id="Forma_1" />
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="app_sec_mob only_mob">
        <p class="app-heading">Get the remote control for your lawn</p>



      </div>

      <div class="total_satisfaction layzy" data-background="https://greenpal-production.s3.amazonaws.com/images/general/greenpal-guarantee.svg" style="background-image: url(&quot;https://greenpal-production.s3.amazonaws.com/images/general/greenpal-guarantee.svg&quot;);">
        <p>Total Satisfaction backed by<br>the GreenPal Guarantee!</p>
      </div>
    </div>
    <div class="clear"></div>
    <div class="footer_sec4">
      <div class="footer_locations">
        <ul>
          <li class="location"><span>Columbus, OH</span></li>
          <li class="location"><span>Cleveland, OH</span></li>
          <li class="location"><span>Columbia, SC</span></li>
          <li class="location"><span>Buffalo, NY</span></li>
          <li class="location"><span>Greensboro, NC</span></li>
          <li class="location"><span>Omaha, NE</span></li>
          <li class="location"><span>Memphis, TN</span></li>
          <li class="location"><span>Milwaukee, WI</span></li>
          <li class="location"><span>Austin, TX</span></li>
          <li class="location"><span>Amarillo, TX</span></li>
          <li class="location"><span>Chattanooga, TN</span></li>
          <li class="location"><span>Providence, RI</span></li>
          <li class="location"><span>Lexington, KY</span></li>
          <li class="location"><span>Los Angeles, CA</span></li>
          <li class="location"><span>El Paso, TX</span></li>
          <li class="location"><span>Brownsville, TX</span></li>
          <li class="location"><span>Rochester, NY</span></li>
          <li class="location"><span>Birmingham, AL</span></li>
          <li class="location"><span>Wichita, KS</span></li>
          <li class="location"><span>Bakersfield, CA</span></li>
          <li class="location"><span>Des Moines, IA</span></li>
          <li class="location"><span>San Jose, CA</span></li>
          <li class="location"><span>Baltimore, MD</span></li>
          <li class="location"><span>San Diego, CA</span></li>
          <li class="location"><span>Seattle, WA</span></li>
          <li class="location"><span>Lincoln, NE</span></li>
          <li class="location"><span>Pittsburgh, PA</span></li>
          <li class="location"><span>Sioux Falls, SD</span></li>
          <li class="location"><span>Huntsville, AL</span></li>
          <li class="location"><span>Reno, NV</span></li>
          <li class="location"><span>Denver, CO</span></li>
          <li class="location"><span>Berthoud, CO</span></li>
          <li class="location"><span>Sacramento, CA</span></li>
          <li class="location"><span>Little Rock, AR</span></li>
          <li class="location"><span>Salt Lake City, UT</span></li>
          <li class="location"><span>Boise, ID</span></li>
          <li class="location"><span>Boston, MA</span></li>
          <li class="location"><span>Albuquerque, NM</span></li>
          <li class="location"><span>New Orleans, LA</span></li>
          <li class="location"><span>Raleigh, NC</span></li>
          <li class="location"><span>Waco, TX</span></li>
          <li class="location"><span>Minneapolis, MN</span></li>
          <li class="location"><span>Spokane, WA</span></li>
          <li class="location"><span>Jackson, MS</span></li>
          <li class="location"><span>Cincinnati, OH</span></li>
          <li class="location"><span>Knoxville, TN</span></li>
          <li class="location"><span>Greenwich, CT</span></li>
          <li class="location"><span>Philadelphia, PA</span></li>
          <li class="location"><span>Indianapolis, IN</span></li>
          <li class="location"><span>Lubbock, TX</span></li>
          <li class="location"><span>Charleston, SC</span></li>
          <li class="location"><span>Laredo, TX</span></li>
          <li class="location"><span>Gainesville, FL</span></li>
          <li class="location"><span>Jackson, TN</span></li>
          <li class="location"><span>Killeen, TX</span></li>
          <li class="location"><span>Phoenix, AZ</span></li>
          <li class="location"><span>Columbus, GA</span></li>
          <li class="location"><span>Tucson, AZ</span></li>
          <li class="location"><span>Midland, TX</span></li>
          <li class="location"><span>Stamford, CT</span></li>
          <li class="location"><span>Virginia Beach, VA</span></li>
          <li class="location"><span>Beaumont, TX</span></li>
          <li class="location"><span>Bridgeport, CT</span></li>
          <li class="location"><span>Portland, OR</span></li>
          <li class="location"><span>Pensacola, FL</span></li>
          <li class="location"><span>Lake Tahoe, NV</span></li>
          <li class="location"><span>Savannah, GA</span></li>
          <li class="location"><span>Montgomery, AL</span></li>
          <li class="location"><span>New Britain, CT</span></li>
          <li class="location"><span>Abilene, TX</span></li>
          <li class="location"><span>Hartford, CT</span></li>
          <li class="location"><span>Detroit, MI</span></li>
          <li class="location"><span>Tulsa, OK</span></li>
          <li class="location"><span>Middletown, CT</span></li>
          <li class="location"><span>Kansas City, MO</span></li>
          <li class="location"><span>Lafayette, LA</span></li>
          <li class="location"><span>Baton Rouge, LA</span></li>
          <li class="location"><span>Windemere, TX</span></li>
          <li class="location"><span>Spring Hill, TN</span></li>
          <li class="location"><span>Mc Allen, TX</span></li>
          <li class="location"><span>Shreveport, LA</span></li>
          <li class="location"><span>Louisville, KY</span></li>
          <li class="location"><span>Honolulu, HI</span></li>
          <li class="location"><span>Nashville, TN</span></li>
          <li class="location"><span>Atlanta, GA</span></li>
          <li class="location"><span>Tampa, FL</span></li>
          <li class="location"><span>St. Louis, MO</span></li>
          <li class="location"><span>Orlando, FL</span></li>
          <li class="location"><span>Charlotte, NC</span></li>
          <li class="location"><span>Houston, TX</span></li>
          <li class="location"><span>Dallas, TX</span></li>
          <li class="location"><span>Fort Worth, TX</span></li>
          <li class="location"><span>Chicago, IL</span></li>
          <li class="location"><span>San Antonio, TX</span></li>
          <li class="location"><span>Oklahoma City, OK</span></li>
          <li class="location"><span>Jacksonville, FL</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_copyright">
    <div class="container_9">
      <ul class="left">
        <li><span style="text-decoration:underline">Privacy Policy</span></li>
        <li><span style="text-decoration:underline">Terms & Conditions</span></li>
      </ul>
      <ul class="right">
        <li>Copyright © 2025 GreenPal Co. All rights reserved.</li>
      </ul>
    </div>
    <div class="how-it-works-cta-footer">
      <button class="btn btn-main-hero">
        <span>See Prices</span>
        <svg class="chevron-right" width="20" height="20" viewBox="0 0 24 24" fill="none">
          <path d="M9 18L15 12L9 6" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>
</footer>
